*.pyc
*.pdf
*.so
*.egg-info
.ipynb_checkpoints
/bazel-*
.bazelrc
/tensorflow
.DS_Store
build/
dist/
venv/
.mypy_cache/
docs/notebooks/.ipynb_checkpoints/
docs/_autosummary
.idea
/fashion_mnist/*.pdf
/mnist/*.pdf
/handsign_mnist/*.pdf

